.button {
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	@include rems(padding, 1, 4);
	display: inline-block;
	@include font-size(2, 2);
	@include border-radius(4px);
	text-transform: lowercase;
	transition: 0.4s all ease;
	&:hover {
		background: #fff;
		color: $primary;
	}
	&.hidden {
		display: none;
	}
}
