body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	@include font-size(1.8, 2.6);
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
	}
}
.gradient-background {
	@include horizontal-grad($primary, $secondary);
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-content {
	position: relative;
	min-height: 100%;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
