.landing-flood {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.landing-feature {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 10;
}
h1 {
	color: #fff;
	font-weight: 100;
	@include font-size(12, 12);
	transition: 0.4s all ease;
	@media #{$phone} {
		@include font-size(10, 10);
	}
	em {
		font-style: normal;
		@media #{$phone} {
			display: none;
		}
	}
	span {
		@media #{$phone} {
			display: block;
			@include font-size(6, 6);
			@include rems(height, 6);
			&.small {
				@include font-size(5, 5);
			}
		}
	}
	&.done {
		@include rems(margin-bottom, 10);
	}
}
.copyright {
	position: absolute;
	@include rems(bottom, 2);
	@include rems(right, 2);
	color: #fff;
	@include font-size(1.4, 1.8);
	z-index: 20;
	padding-bottom: 0;
}
.typed-cursor{
	display: none;
}
