.overlay-cover {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	background: #000;
	@include opacity(0.4);
	z-index: 9999;
	display: none;
}
.overlay-wrap {
	display: none;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	outline: 0!important;
	-webkit-backface-visibility: hidden;
	overflow-y: auto; 
	overflow-x: hidden;
	z-index: 9999;
	.overlay-container {
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 0 8px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&.flex {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.overlay-content {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 80px auto;
			margin: 8rem auto;
			width: 80%;
			@include rems(max-width, 70);
			text-align: left;
			z-index: 1045;
			background: #fff;
			@include rems(padding, 8);
			@include border-radius(4px);
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			@include box;
			@media #{$phone} {
				@include rems(padding, 4);
				width: 98%;
			}
			img {
				display: block;
			}
			.overlay-close {
				position: absolute;
				@include rems(top, -4);
				@include rems(right, -4);
				@include rems(width, 2);
				@include rems(height, 2);
				display: block;
				background: url('images/close@2x.png') center center no-repeat;
				background-size: contain;
				text-indent: -10000px;
				@media #{$phone} {
					@include rems(top, 2);
					@include rems(right, 2);
					background-image: url('images/close-alt@2x.png');
				}
			}
			h2 {
				color: $secondary;
				text-align: center;
				text-transform: lowercase;
				@include rems(margin-bottom, 4);
				@include font-size(3, 3);
			}
		}
	}
	.overlay-logo {
		@include rems(width, 10);
		@include rems(height, 10);
		background: url('images/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
		background-size: 50% auto;
		border: 4px solid #fff;
		margin: 0 auto;
		@include rems(margin-top, -13);
		@include rems(margin-bottom, 4);
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		position: relative;
		@media #{$phone} {
			@include rems(width, 6);
			@include rems(height, 6);
			@include rems(margin-top, -7);
			@include rems(margin-bottom, 2);
		}
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			@include border-radius(50%);
			-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
		}
	}
}
