.wpcf7-form-control-wrap {
	position: relative;
	display: block;
	span {
		&.wpcf7-not-valid-tip {
			font-family: 'Raleway', sans-serif;
			color: #ed1c24;
			display: block;
			@include rems(padding, 1);
			@include rems(margin-bottom, 1);
			border: 1px solid #ed1c24;
			border-top: none;
			@include border-radius(0 0 4px 4px);
			&:before {
				@include icon('\f057');
				float: right;
				color: #ed1c24;
				@include font-size(2, 2);
			}
		}
	}
	input.wpcf7-not-valid {
		margin-bottom: 0;
		border: 1px solid #ed1c24;
		border-bottom: 2px solid #ed1c24;
		@include border-radius(4px 4px 0 0);
	}
}
.wedo {
	div.wpcf7-response-output {
		clear: both;
		@include rems(margin, 2, 0, 0);
		@include rems(padding, 1, 2);
		font-family: 'Raleway', sans-serif;
		border: none;
		@include border-radius(0 0 4px 4px);
		background: #ededed;
		&:before {
			@include font-size(2, 2);
			@include rems(margin-right, 1);
		}
		&.wpcf7-validation-errors {
			border-top: 2px solid #ed1c24;
			color: #ed1c24;
			&:before {
				@include icon('\f057');
			}
		}
		&.wpcf7-mail-sent-ok {
			color: #00a453;
			border-top: 2px solid #00a453;
			&:before {
				@include icon('\f058');
			}
		}
	}
}
